.counter-btn {
  display: flex;
  max-width: rem(100);
  gap: rem(23);
  align-items: center;

  padding: rem(15) rem(11);
  border-radius: 5px;
  border: 1px solid #D9E1F3;
  background-color: transparent;

  span {
    font-size: rem(16);
    font-weight: 500;
  }

  &__icon {
    width: rem(9.5);
    height: rem(9.5);
  }
}