.gap {
  &-10{
    gap: rem(10);
  } &-20{
    gap: rem(20);
  } &-30{
    gap: rem(30);
  } &-40{
    gap: rem(40);
  } &-50{
    gap: rem(50);
  } &-60{
    gap: rem(60);
  } &-70{
    gap: rem(70);
  } &-80{
    gap: rem(80);
  } &-90{
    gap: rem(90);
  } &-100{
    gap: rem(100);
  }
}