.svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
  width: fit-content;

  @include r(1200) {
    display: none;
    visibility: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E4F1FD;
    width: rem(36);
    height: rem(36);
    border-radius: 36px;
  }

  &--visible {
    @include r(1200) {
      display: flex;
      visibility: visible;
    }
  }
}