.dropdown-catalog {
  display: none;
  position: absolute;
  padding: rem(35) 0 rem(75);
  top: rem(150);
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: $light;

  &.active {
    display: block;
  }

  &__item {
    display: flex;
    gap: rem(19);
    align-items: center;
    align-content: center;
  }

  &__link {
    display: flex;
    gap: rem(20);
    align-items: center;
    align-content: center;
  }

  &__picture {
    width: rem(50);
    height: rem(47);
    display: block;

    img {
      width: 100%;
      height: auto;
    }
  }
}
