.dropdown-catalog {
  display: none;
  position: absolute;
  padding: rem(35) 0 rem(75);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $light;

  &--active {
    display: block;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: rem(33);
    align-items: center;
    align-content: center;
  }
  &__link{
    display: flex;
    gap: rem(20);
    align-items: center;
    align-content: center;
  }
  &__icon{
    max-width: rem(50);
    max-height: rem(47);
    display: block;
  }
}