.body {
    color: $dark;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
    font-family: $font-main;
    justify-content: space-between;
    @include r(1200) {}
}
