.not-found {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__picture {
    @include r(1200) {
      max-width: rem(200);
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__title {
    font-size: rem(96);
    font-weight: 600;
    margin-bottom: rem(10);
    color: #000000;

    @include r(1200) {
      font-size: rem(20);
    }
  }

  &__text {
    font-size: rem(36);
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: rem(50);
    @include r(1200) {
      font-size: rem(14);
    }
  }
}