.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(10);

  &__contacts {
    display: flex;
    gap: rem(55);
    flex-grow: 1;
  }

  &__callback {
    flex-grow: 1;
  }
}