.article-vacancy {
  display: block;
  background-color: $light;
  border-radius: 5px;
  margin-bottom: rem(30);
  padding: rem(40) rem(55) rem(45) rem(40);
  box-shadow: 5px 10px 40px rgba(43, 70, 82, 0.15);

  &__title {
    font-size: rem(24);
    line-height: 1;
    font-weight: 600;
    margin-bottom: rem(20);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(500) {
      flex-direction: column;
      gap: rem(20);
      align-items: start;
    }
  }

  &__timetable {
    font-size: rem(16);
    line-height: 1.5;
    color: #316EE8;
    text-decoration: underline;
  }

  &__pay {
    font-size: rem(24);
    line-height: 1;
    font-weight: 600;
  }
}