.article-order-picture {
	max-width: rem(360);
	max-height: rem(315);

	overflow: hidden;
	img {
		width: 100%;
		object-fit: contain;
		object-position: top;
	}
}

.article-order {
	display: flex;
	flex-direction: column;
	padding: rem(50) 0 0;

	@include r(1200) {
		padding: rem(30) rem(15) rem(20);
	}

&__icon {
	width: rem(21.5);
	height: rem(21.5);
	fill: #FFFFFF;
}
}