.article-benefits {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  min-height: rem(160);
  margin-bottom: rem(50);

  @include r(1200) {
    margin-bottom: rem(0);
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: rem(-30);
      left: 0;
      width: 100%;
      height: rem(3);
      background-image: url("../assets/images/benefits-decor-line.svg");
      background-repeat: repeat-x;
      background-position: center;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

    &__num{
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: .1em;
    color: $blue;
      margin-bottom: rem(25);

      @include r(1200) {
        margin-bottom: rem(20);
      }
  }
  &__title{
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 700;
    color: $darkBlue;
    text-transform: uppercase;
    margin-bottom: rem(10);
  }

  &__picture {
    max-width: rem(380);
    margin: rem(60) auto 0;

    @include r(1200) {
      margin: 0 auto;
    }
    img{
      width: 100%;
    }
  }
}