.article-benefits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: rem(160);
    &__num{
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: .1em;
    color: $blue;
  }
  &__title{
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 700;
    color: $darkBlue;
    text-transform: uppercase;
  }

  &__picture {
    max-width: rem(380);
    margin: rem(60) auto 0;
    img{
      width: 100%;
    }

    @include r(1200) {
      max-width: rem(160);
      margin: 0 auto;
    }
  }
}