.modal-review {
  display: none;
  border-radius: rem(10);
  background-color: $light;
  padding: rem(50);
  max-width: rem(800);
  width: 95%;
  height: fit-content;
  max-height: 100%;
  &__user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(20);
    margin-bottom: rem(30);
  }

  &__picture {
    border-radius: rem(100);
    width: rem(100);
    height: rem(100);
    overflow: hidden;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

}

.carousel__button.is-close {
  width: rem(15);
  height: rem(15);
  top: rem(25) !important;
  right: rem(25) !important;
  color: #000000  !important;
}