.toolbar-page {
  display: flex;
  gap: rem(100);
  padding: 0 rem(30);

  border: 1px solid #C8D0E1;
  border-radius: 5px;

  &__item {
    font-weight: 500;
    display: flex;
    align-items: center;
    height: rem(75);
    cursor: pointer;
  }

  &__item>input:checked {
    font-weight: 700;
    color: $orange;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 102%;
      height: 1px;
      background-color: $orange;
    }
  }
}


