.toolbar-page {
  display: flex;
  gap: rem(100);
  padding: rem(25) rem(30);
  border: 1px solid #C8D0E1;
  border-radius: 5px;

  &__item {
    font-weight: 500;
    display: block;
    cursor: pointer;
  }

  &__item--active {
    font-weight: 700;
    color: $orange;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: rem(50);
      left: 0;
      width: 102%;
      height: 1px;
      background-color: $orange;
    }
  }
}