.decor {
  background-image: url("../assets/images/benefits.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;

  @include r(1200) {
    background-image: none;
  }
}

