.header-row{
  display: flex;
  justify-content: space-between;
  gap: rem(10);
  margin-top: rem(15);

@include r(1300){
  flex-wrap: wrap;
}

  &__buttons{
    display: flex;
    gap: rem(20);
  }
}