<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<%= htmlWebpackPlugin.options.menuMobile %>
<main class="main">
  <section class="section pt-30 pb-100 pbm-20 bg-page">
    <div class="container">
      <div class="mb-50 hidden-980">
        <div class="breadcrumbs">
          <a class="breadcrumbs__link" href="./">Главная</a>
          <svg class="breadcrumbs__icon">
            <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
          </svg>
          <span>Каталог</span>
        </div>
      </div>
        <h1 class="title-page mb-50">Каталог</h1>
        <div class="columns">
          <div class="columns__col columns__col--3">
            <%= htmlWebpackPlugin.options.sidebarCatalog %>
          </div>
          <div class="columns__col columns__col--9">
            <%= htmlWebpackPlugin.options.article %>
            <%= htmlWebpackPlugin.options.article %>
            <%= htmlWebpackPlugin.options.article %>
            <%= htmlWebpackPlugin.options.article %>
            <%= htmlWebpackPlugin.options.article %>
            <%= htmlWebpackPlugin.options.article %>
            <%= htmlWebpackPlugin.options.article %>
          </div>
        </div>
      </div>
  </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>

<div class="modals" hidden>
  <%= htmlWebpackPlugin.options.success %>
  <%= htmlWebpackPlugin.options.calculation %>
  <%= htmlWebpackPlugin.options.callback %>
  <%= htmlWebpackPlugin.options.feedback %>
  <%= htmlWebpackPlugin.options.order %>
  <%= htmlWebpackPlugin.options.vacancyReply %>
</div>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>