<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="modals" hidden>
    <%= htmlWebpackPlugin.options.success %>
    <%= htmlWebpackPlugin.options.calculation %>
    <%= htmlWebpackPlugin.options.callback %>
    <%= htmlWebpackPlugin.options.feedback %>
    <%= htmlWebpackPlugin.options.order %>
    <%= htmlWebpackPlugin.options.vacancyReply %>
</div>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section pt-30 pbm-20 pb-100 bg-page">
        <div class="container">
            <div class="mb-50 hidden-980">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Каталог</span>
                </div>
            </div>
            <div class="justify justify--column mb-50 mbm-20">
                <h1 class="title-page">Каталог</h1>

                <!-- Оберни это все в form.form, с ней проще работать в дальнейшем -->
                <!-- В маакете текст другого цвета и жирности на мобилке -->
                <div class="select-wrapper">
                    <p class="select-wrapper__caption hidden-980">Сортировать по:</p>
                    <select class="select select--catalog" name="select-catalog">
                        <option class="select__item" value="catalog-1" selected>Наименованию</option>
                        <option class="select__item" value="catalog-2">Цене</option>
                        <option class="select__item" value="catalog-3">Популярности</option>
                        <option class="select__item" value="catalog-4">Размеру скидки</option>
                    </select>
                </div>
            </div>
            <div class="columns mb-60 mbm-0">
                <div class="columns__col columns__col--3">
                    <%= htmlWebpackPlugin.options.sidebarCatalog %>
                </div>
                <div class="columns__col columns__col--9">
                    <div class="columns">
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                        <div class="columns__col columns__col--4">
                            <%= htmlWebpackPlugin.options.articleCatalog %>
                        </div>
                    </div>
                </div>
            </div>
            <%= htmlWebpackPlugin.options.paginationPage %>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>