<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main bg-page">
    <section class="section-page">
        <div class="container">
            <div class="mb-50">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Техническая информация</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section mb-100">
        <div class="container">
            <h1 class="title-page">Техническая информация</h1>
            <div class="editor editor--16 mb-60">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus orci sit sed aenean mauris risus,
                    sed diam. Aliquet ornare consectetur mollis congue morbi commodo purus massa. Velit vitae, habitant
                    eu justo nulla ut convallis erat ornare. Urna aliquam adipiscing nibh hac quam feugiat. Quisque
                    imperdiet ipsum viverra blandit enim. Pulvinar nibh lorem nulla mi. Et, fames id gravida aliquam
                    turpis non pellentesque pellentesque.</p>
                <p>Faucibus felis fermentum dolor ac. A amet, massa sit sit bibendum sed. Sed laoreet eu tempus sit
                    laoreet rutrum. Nulla diam tristique lobortis diam venenatis. Arcu, mi ipsum et, egestas diam turpis
                    viverra risus accumsan. Cursus hac egestas aliquam sit arcu scelerisque enim. Nibh sed tempus mi
                    egestas ut nec risus. Magna mi in semper nunc ut metus. Penatibus sit neque, sit vel in pharetra
                    vivamus id. Viverra augue cursus metus quisque. Amet, tristique morbi ullamcorper porttitor.
                    Posuere varius id id diam duis malesuada. Sit elit nam ultricies mattis nec ut sed orci. Dictumst
                    rhoncus tellus in purus magna sagittis, sit massa. Ut tellus feugiat non pellentesque convallis
                    ullamcorper id convallis viverra. Nulla purus nunc metus cursus. Ultrices vitae, diam facilisis nunc
                    ornare egestas nulla molestie pulvinar. Fermentum massa vel, fermentum cursus cras viverra
                    venenatis. Ultricies nec, nulla ut viverra enim tempor enim nisl. Tristique molestie netus consequat
                    blandit tristique tempus feugiat sed pellentesque. Enim praesent ac, sem curabitur proin. Curabitur
                    quis ut libero adipiscing accumsan eget ante pretium enim. Aliquam porttitor amet, vel duis nunc
                    dictum et tempor nunc. Dui varius massa consectetur enim risus faucibus.</p>
            </div>
            <div class="columns mb-60">
                <div class="columns__col columns__col--12">
                    <h2 class="article-doc__title">Заголовок</h2>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="columns mb-100">
                <div class="columns__col columns__col--12">
                    <h2 class="article-doc__title">Заголовок</h2>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-doc" href="#">
                        <div class="svg-wrapper">
                            <svg class="article-doc__icon article-doc__icon--folder">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-folder"></use>
                            </svg>
                        </div>
                        <div class="editor editor--14">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nuncLorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar
                                cursus et eu tincidunt nulla risus id nunc</p>
                        </div>
                        <svg class="article-doc__icon article-doc__icon--download">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-download"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>