<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="modals" hidden>
    <%= htmlWebpackPlugin.options.success %>
    <%= htmlWebpackPlugin.options.calculation %>
    <%= htmlWebpackPlugin.options.callback %>
    <%= htmlWebpackPlugin.options.feedback %>
    <%= htmlWebpackPlugin.options.order %>
    <%= htmlWebpackPlugin.options.vacancyReply %>
</div>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section pt-30 pbm-20 pb-100">
        <div class="container">
            <div class="mb-50 hidden-980">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Галерея</span>
                </div>
            </div>
            <h1 class="title-page mb-50 mbm-20">Галерея</h1>
            <nav class="toolbar-page mb-70 mob-hidden">
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="gallery-1" name="gallery-sort" checked>
                    <span class="toolbar-page__category">Все проекты</span>
                </label>
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="gallery-2" name="gallery-sort">
                    <span class="toolbar-page__category">Построенные объекты</span>
                </label>
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="gallery-3" name="gallery-sort">
                    <span class="toolbar-page__category">Силикатные блоки</span>
                </label>
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="gallery-4" name="gallery-sort">
                    <span class="toolbar-page__category">Силикатные кирпичи</span>
                </label>
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="gallery-5" name="gallery-sort">
                    <span class="toolbar-page__category">Силикатные плиты</span>
                </label>
            </nav>
            <div class="columns mb-60 mbm-20">
                <div class="columns__col columns__col--4">
                    <a class="article-gallery" href="#">
                        <picture class="article-gallery__picture">
                            <img src="./assets/images/article-gallery-img-1.jpg" alt="">
                        </picture>
                        <div class="article-gallery__content">
                            <div class="article-gallery__count">
                                <span>10</span>
                                <span>фото</span>
                            </div>
                            <div class="article-gallery__category">Силикатные блоки</div>
                            <h2 class="article-gallery__title">Фото силикатных блоков производства</h2>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-gallery" href="#">
                        <picture class="article-gallery__picture">
                            <img src="./assets/images/article-gallery-img-1.jpg" alt="">
                        </picture>
                        <div class="article-gallery__content">
                            <div class="article-gallery__count">
                                <span>10</span>
                                <span>фото</span>
                            </div>
                            <div class="article-gallery__category">Силикатные блоки</div>
                            <h2 class="article-gallery__title">Фото силикатных блоков производства</h2>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-gallery" href="#">
                        <picture class="article-gallery__picture">
                            <img src="./assets/images/article-gallery-img-2.jpg" alt="">
                           </picture>
                        <div class="article-gallery__content">
                            <div class="article-gallery__count">
                                <span>10</span>
                                <span>фото</span>
                            </div>
                            <div class="article-gallery__category">Силикатные блоки</div>
                            <h2 class="article-gallery__title">Фото силикатных блоков производства</h2>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-gallery" href="#">
                        <picture class="article-gallery__picture">
                            <img src="./assets/images/article-gallery-img-2.jpg" alt="">
                        </picture>
                        <div class="article-gallery__content">
                            <div class="article-gallery__count">
                                <span>10</span>
                                <span>фото</span>
                            </div>
                            <div class="article-gallery__category">Силикатные блоки</div>
                            <h2 class="article-gallery__title">Фото силикатных блоков производства</h2>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-gallery" href="#">
                        <picture class="article-gallery__picture">
                            <img src="./assets/images/article-gallery-img-1.jpg" alt="">
                        </picture>
                        <div class="article-gallery__content">
                            <div class="article-gallery__count">
                                <span>10</span>
                                <span>фото</span>
                            </div>
                            <div class="article-gallery__category">Силикатные блоки</div>
                            <h2 class="article-gallery__title">Фото силикатных блоков производства</h2>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-gallery" href="#">
                        <picture class="article-gallery__picture">
                            <img src="./assets/images/article-gallery-img-2.jpg" alt="">
                        </picture>
                        <div class="article-gallery__content">
                            <div class="article-gallery__count">
                                <span>10</span>
                                <span>фото</span>
                            </div>
                            <div class="article-gallery__category">Силикатные блоки</div>
                            <h2 class="article-gallery__title">Фото силикатных блоков производства</h2>
                        </div>
                    </a>
                </div>
            </div>
            <button class="button button--orange centered desktop-hidden">
                <span class="button__text">Загрузить еще </span>
                <svg class="button__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-reload"></use>
                </svg>
            </button>
            <div class="mob-hidden">
                <%= htmlWebpackPlugin.options.paginationPage %>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>