<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main bg-page">
    <section class="section-page">
        <div class="container">
            <div class="mb-50">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <a class="breadcrumbs__link" href="about.html">О заводе</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Сертификаты</span>
                </div>
            </div>
            <h1 class="title-page">Сертификаты</h1>
            <div class="editor editor--16 mb-50">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus orci sit sed aenean mauris risus,
                    sed diam. Aliquet ornare consectetur mollis congue morbi commodo purus massa. Velit vitae, habitant
                    eu justo nulla ut convallis erat ornare. Urna aliquam adipiscing nibh hac quam feugiat. Quisque
                    imperdiet ipsum viverra blandit enim. Pulvinar nibh lorem nulla mi. Et, fames id gravida aliquam
                    turpis non pellentesque pellentesque.</p>
            </div>
            <div class="columns">
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
                <div class="columns__col--3">
                    <div class="article-garanty">
                        <picture class="article-garanty__picture">
                            <img src="./assets/images/page-garanty.jpg" alt="">
                        </picture>
                        <div class="article-garanty__info">
                            <p>Сертификат соответствия ГOCT Р ISO 14001-2O16</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>