<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main bg-page">
    <section class="section-page">
        <div class="container">
            <div class="mb-50">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Где купить</span>
                </div>
            </div>
            <h1 class="title-page">Где купить</h1>
        </div>
        <picture class="map-detail">
            <img src="./assets/images/map-detail.jpg" alt="">
        </picture>
        <div class="container">
            <div class="columns">
                <div class="columns__col columns__col--3">
                    <div class="article-shop">
                        <h2 class="article-shop__title">Официальный магазин “Белый куб”</h2>
                        <a class="article-shop__tel" href="tel:+79990000">+7-999-00-00</a>
                        <div class="article-shop__timetable">
                            <span>Пн-Пт - <time><b>9:00 - 19:00</b></time></span>
                            <span>Сб,Вс - <time><b>10:00 - 17:00</b></time></span>
                        </div>
                        <address class="editor editor--16">
                            <span>Калининградская область, Гурьевский район, Приморское кольцо, д 6. </span>
                        </address>
                        <a class="button button--dashed" href="#">
                            <svg class="article-shop__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-direction"></use>
                            </svg>
                            <span>На карте</span>
                        </a>
                    </div>
                </div>
                <div class="columns__col columns__col--3">
                    <div class="article-shop">
                        <h2 class="article-shop__title">Официальный магазин “Белый куб”</h2>
                        <a class="article-shop__tel" href="tel:+79990000">+7-999-00-00</a>
                        <div class="article-shop__timetable">
                            <span>Пн-Пт - <time><b>9:00 - 19:00</b></time></span>
                            <span>Сб,Вс - <time><b>10:00 - 17:00</b></time></span>
                        </div>
                        <address class="editor editor--16">
                            <span>Калининградская область, Гурьевский район, Приморское кольцо, д 6. </span>
                        </address>
                        <a class="button button--dashed" href="#">
                            <svg class="article-shop__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-direction"></use>
                            </svg>
                            <span>На карте</span>
                        </a>
                    </div>
                </div>
                <div class="columns__col columns__col--3">
                    <div class="article-shop">
                        <h2 class="article-shop__title">Официальный магазин “Белый куб”</h2>
                        <a class="article-shop__tel" href="tel:+79990000">+7-999-00-00</a>
                        <div class="article-shop__timetable">
                            <span>Пн-Пт - <time><b>9:00 - 19:00</b></time></span>
                            <span>Сб,Вс - <time><b>10:00 - 17:00</b></time></span>
                        </div>
                        <address class="editor editor--16">
                            <span>Калининградская область, Гурьевский район, Приморское кольцо, д 6. </span>
                        </address>
                        <a class="button button--dashed" href="#">
                            <svg class="article-shop__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-direction"></use>
                            </svg>
                            <span>На карте</span>
                        </a>
                    </div>
                </div>
                <div class="columns__col columns__col--3">
                    <div class="article-shop">
                        <h2 class="article-shop__title">Официальный магазин “Белый куб”</h2>
                        <a class="article-shop__tel" href="tel:+79990000">+7-999-00-00</a>
                        <div class="article-shop__timetable">
                            <span>Пн-Пт - <time><b>9:00 - 19:00</b></time></span>
                            <span>Сб,Вс - <time><b>10:00 - 17:00</b></time></span>
                        </div>
                        <address class="editor editor--16">
                            <span>Калининградская область, Гурьевский район, Приморское кольцо, д 6. </span>
                        </address>
                        <a class="button button--dashed" href="#">
                            <svg class="article-shop__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-direction"></use>
                            </svg>
                            <span>На карте</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>