<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="modals" hidden>
    <%= htmlWebpackPlugin.options.success %>
    <%= htmlWebpackPlugin.options.calculation %>
    <%= htmlWebpackPlugin.options.callback %>
    <%= htmlWebpackPlugin.options.feedback %>
    <%= htmlWebpackPlugin.options.order %>
    <%= htmlWebpackPlugin.options.vacancyReply %>
</div>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section pt-30 pb-100 pbm-20">
        <div class="container">
            <div class="mb-50 hidden-980">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <a class="breadcrumbs__link" href="about.html">О заводе</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Новости</span>
                </div>
            </div>
            <h1 class="title-page mb-50 mbm-20">Новости</h1>
            <nav class="toolbar-page mb-70 mob-hidden">
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="all" name="news-radio" checked>
                    <span class="toolbar-page__category">За все время</span>
                </label>
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="2022" name="news-radio">
                    <span class="toolbar-page__category">2022</span>
                </label>
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="2021" name="news-radio">
                    <span class="toolbar-page__category">2021</span>
                </label>
                <label class="toolbar-page__item">
                    <input class="toolbar-page__input" type="radio" value="2020" name="news-radio">
                    <span class="toolbar-page__category">2020</span>
                </label>
            </nav>

                <select class="select select--news desktop-hidden mb-20" name="select-news">
                    <option class="select__item" value="value-1" selected>За все время</option>
                    <option class="select__item" value="value-2">2022</option>
                    <option class="select__item" value="value-3">2021</option>
                    <option class="select__item" value="value-4">2020</option>
                </select>

            <div class="columns mb-60 mbm-20">
                <div class="columns__col columns__col--6">
                    <a class="article-post article-post--large" href="#">
                        <picture class="article-post__picture article-post__picture--large">
                            <img src="./assets/images/news-img--large.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--large">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Технические работы на сайте</h4>
                            <div class="article-post__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                    Pretium.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                    Pretium.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--3">
                    <a class="article-post" href="#">
                        <picture class="article-post__picture">
                            <img src="./assets/images/news-img-1.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--regular mob-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                        <div class="article-post__content article-post__content--mobile desktop-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--3">
                    <a class="article-post" href="#">
                        <picture class="article-post__picture">
                            <img src="./assets/images/news-img-1.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--regular mob-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                        <div class="article-post__content article-post__content--mobile desktop-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--3">
                    <a class="article-post" href="#">
                        <picture class="article-post__picture">
                            <img src="./assets/images/news-img-1.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--regular mob-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                        <div class="article-post__content article-post__content--mobile desktop-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--3">
                    <a class="article-post" href="#">
                        <picture class="article-post__picture">
                            <img src="./assets/images/news-img-1.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--regular mob-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                        <div class="article-post__content article-post__content--mobile desktop-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-post article-post--large" href="#">
                        <picture class="article-post__picture article-post__picture--large">
                            <img src="./assets/images/news-img--large.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--large">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Технические работы на сайте</h4>
                            <div class="article-post__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                    Pretium.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                    Pretium.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-post article-post--large" href="#">
                        <picture class="article-post__picture article-post__picture--large">
                            <img src="./assets/images/news-img--large.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--large">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Технические работы на сайте</h4>
                            <div class="article-post__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                    Pretium.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                    Pretium.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--3">
                    <a class="article-post" href="#">
                        <picture class="article-post__picture">
                            <img src="./assets/images/news-img-1.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--regular mob-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                        <div class="article-post__content article-post__content--mobile desktop-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--3">
                    <a class="article-post" href="#">
                        <picture class="article-post__picture">
                            <img src="./assets/images/news-img-1.jpg" alt="">
                        </picture>
                        <div class="article-post__content article-post__content--regular mob-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                        <div class="article-post__content article-post__content--mobile desktop-hidden">
                            <time class="article-post__date">14 октября</time>
                            <h4 class="article-post__title">Изменение стоимости смеси для укладки блоков и плит</h4>
                            <span class="article-post__link mob-hidden" href="#">читать далее</span>
                        </div>
                    </a>
                </div>
            </div>
            <%= htmlWebpackPlugin.options.paginationPage %>
            <button class="button button--orange centered show-mob-980">
                <span class="button__text">Загрузить еще </span>
                <svg class="button__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-reload"></use>
                </svg>
            </button>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>