<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section pt-30 pb-60 pbm-20">
        <div class="container">
            <div class="mb-50 hidden-980">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <a class="breadcrumbs__link" href="about.html">О заводе</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <a class="breadcrumbs__link" href="news.html">Новости</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Изменение стоимости смеси для укладки блоков и плит</span>
                </div>
            </div>
            <h1 class="title-page mb-50 mbm-20">Изменение стоимости смеси для укладки блоков и плит</h1>

            <div class="columns">
                <div class="columns__col columns__col--3 order-m-2">
                    <%= htmlWebpackPlugin.options.sidebarNews %>
                </div>
                <div class="columns__col columns__col--9 order-m-1">
                    <div class="article-detail">
                        <time class="article-detail__date  mb-20 mob-hidden" datetime="2022-07-20">
                            <span>20 Июля 2022</span>
                            <span>15:30</span>
                        </time>
                        <div class="editor editor--16">
                            <picture class="article-detail__picture article-detail__picture--lg">
                                <img src="./assets/images/news-img--large.jpg" alt="">
                            </picture>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nunc. Etiam ut pretium interdum risus, bibendum porttitor nisl, vitae
                                aenean. Vitae et ipsum gravida viverra donec posuere eu feugiat. Ac proin tempor
                                volutpat nunc, vel nascetur. Sociis sit non elementum, sodales vel feugiat sociis. Dui
                                montes, tempor, ut at amet id in. Proin aenean fusce sollicitudin diam.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nunc. Etiam ut pretium interdum risus, bibendum porttitor nisl, vitae
                                aenean. Vitae et ipsum gravida viverra donec posuere eu feugiat. Ac proin tempor
                                volutpat nunc, vel nascetur. Sociis sit non elementum, sodales vel feugiat sociis. Dui
                                montes, tempor, ut at amet id in. Proin aenean fusce sollicitudin diam. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt nulla risus
                                id nunc. Etiam ut pretium interdum risus, bibendum porttitor nisl, vitae aenean. Vitae
                                et ipsum gravida viverra donec posuere eu feugiat. Ac proin tempor volutpat nunc, vel
                                nascetur. Sociis sit non elementum, sodales vel feugiat sociis. Dui montes, tempor, ut
                                at amet id in. Proin aenean fusce sollicitudin diam.</p>
                            <p>
                                Facilisi nunc rutrum commodo vehicula diam eu purus nisl, condimentum. Sit consequat sit
                                quisque aliquam blandit ut id. Quam mattis viverra malesuada gravida. Interdum lectus
                                amet id elit, volutpat orci, enim molestie elit. Eu faucibus magna vivamus urna,
                                faucibus mauris. Iaculis egestas fermentum eget et elementum nulla. Nulla feugiat nulla
                                suspendisse vulputate at aliquam donec feugiat mattis. Donec sit diam adipiscing massa
                                integer integer nisi. Ultricies commodo velit, ut orci in natoque porta in amet. Egestas
                                quam mattis proin scelerisque pellentesque tortor urna. Sit ut in pellentesque amet mi
                                ornare sed tincidunt vitae.</p>
                            <p>Odio felis, felis, pharetra volutpat elit pellentesque in. Duis nunc ultrices nunc, ac
                                suspendisse. Amet, egestas risus justo, commodo urna gravida elementum. Ac sit vehicula
                                morbi vel pretium semper sociis. Sed purus risus placerat nisi egestas pharetra. Massa
                                odio faucibus amet, pharetra. Nec sed nec enim in nunc. Cras mi, aenean varius enim.
                                Adipiscing nunc nam viverra iaculis. Metus scelerisque enim, in quam imperdiet egestas
                                ultricies ac hendrerit. Orci sed non arcu, in mattis a egestas. Amet sagittis magnis
                                viverra cras sit nunc sed. Molestie suspendisse congue gravida donec montes. Sed
                                convallis accumsan, enim accumsan, id viverra sit consectetur neque. Vel congue
                                vestibulum hac nullam egestas.</p>

                            <picture class="article-detail__picture">
                                <img src="./assets/images/news-detail-2.jpg" alt="">
                            </picture>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nunc. Etiam ut pretium interdum risus, bibendum porttitor nisl, vitae
                                aenean. Vitae et ipsum gravida viverra donec posuere eu feugiat. Ac proin tempor
                                volutpat nunc, vel nascetur. Sociis sit non elementum, sodales vel feugiat sociis. Dui
                                montes, tempor, ut at amet id in. Proin aenean fusce sollicitudin diam.</p>
                            <p>Suscipit mattis in augue neque purus orci imperdiet sed donec. Sed nullam etiam aliquet
                                penatibus elementum scelerisque tellus purus. Morbi integer arcu adipiscing sagittis sed
                                volutpat massa nec. Nibh orci, ultricies enim nisi, a, risus. Eget erat purus venenatis
                                hendrerit pulvinar tellus platea aliquet. Eros bibendum sagittis in sed placerat morbi
                                vitae. Duis viverra quam ac habitant odio massa. In aliquam sodales duis arcu.</p>
                            <blockquote>
                                <p>Suscipit mattis in augue neque purus orci imperdiet sed donec. Sed nullam etiam
                                    aliquet penatibus elementum scelerisque tellus purus. Morbi integer arcu adipiscing
                                    sagittis sed volutpat massa nec. </p>
                            </blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar cursus et eu tincidunt
                                nulla risus id nunc. Etiam ut pretium interdum risus, bibendum porttitor nisl, vitae
                                aenean. Vitae et ipsum gravida viverra donec posuere eu feugiat. Ac proin tempor
                                volutpat nunc, vel nascetur. Sociis sit non elementum, sodales vel feugiat sociis. Dui
                                montes, tempor, ut at amet id in. Proin aenean fusce sollicitudin diam.</p>
                            <p>Suscipit mattis in augue neque purus orci imperdiet sed donec. Sed nullam etiam aliquet
                                penatibus elementum scelerisque tellus purus. Morbi integer arcu adipiscing sagittis sed
                                volutpat massa nec. Nibh orci, ultricies enim nisi, a, risus. Eget erat purus venenatis
                                hendrerit pulvinar tellus platea aliquet. Eros bibendum sagittis in sed placerat morbi
                                vitae. Duis viverra quam ac habitant odio massa. In aliquam sodales duis arcu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>


<div class="modals" hidden>
    <%= htmlWebpackPlugin.options.success %>
    <%= htmlWebpackPlugin.options.calculation %>
    <%= htmlWebpackPlugin.options.callback %>
    <%= htmlWebpackPlugin.options.feedback %>
    <%= htmlWebpackPlugin.options.order %>
    <%= htmlWebpackPlugin.options.vacancyReply %>
</div>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>