<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
    <%= htmlWebpackPlugin.options.sectionHeader %>
    <main class="main">
        <section class="section">
            <div class="container">
                Content of child page
            </div>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.sectionFooter %>
    <%= htmlWebpackPlugin.options.temp %>
</body>
</html>