<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="modals" hidden>
    <%= htmlWebpackPlugin.options.success %>
    <%= htmlWebpackPlugin.options.calculation %>
    <%= htmlWebpackPlugin.options.callback %>
    <%= htmlWebpackPlugin.options.feedback %>
    <%= htmlWebpackPlugin.options.order %>
    <%= htmlWebpackPlugin.options.vacancyReply %>
</div>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main bg-page">
    <section class="section pt-30">
        <div class="container">
            <div class="mb-50 hidden-980">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Отзывы</span>
                </div>
            </div>
            <h1 class="title-page">Отзывы</h1>
            <div class="article-review-detail">
                <div class="article-review-detail__header mb-50">
                    <div class="columns align-center">
                        <div class="columns__col columns__col--1">
                            <div class="svg-group">
                                <svg class="article-review-detail__icon article-review-detail__icon--dialog">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-dialog"></use>
                                </svg>
                                <svg class="article-review-detail__icon article-review-detail__icon--plate">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-dialog-plate"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="columns__col columns__col--8">
                            <div class="editor editor--16">
                                <p>Благодарим за оказанное доверие и выбор нашего завода в качестве поставщика
                                    строительных материалов. На этой странице Вы можете оставить свои отзывы и
                                    пожелания.</p>
                            </div>
                        </div>
                        <div class="columns__col columns__col--3 right-self">
                            <button class="button button--orange" data-fancybox data-src="#modal-feedback">Оставить отзыв</button>
                        </div>
                    </div>
                </div>
                <div class="article-review-detail__body mb-30">
                    <div class="article-review-detail__info">
                        <div class="article-review-detail__info-user">
                            <svg class="article-review-detail__info-icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-user"></use>
                            </svg>
                            <div class="">
                                <time datetime="2021-10-14">14.10.21</time>
                                <div class="article-review-detail__user-name">Александр Пирожков</div>
                            </div>
                        </div>
                        <div class="review-range">
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="editor editor--14 mb-35">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus. Pretium.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium.</p>
                    </div>
                    <div class="article-review-detail__photos">
                        <picture class="article-review-detail__picture" data-fancybox
                                 data-src="./assets/images/about-img.jpg">
                            <img src="./assets/images/about-img.jpg" alt="">
                        </picture>
                        <picture class="article-review-detail__picture" data-fancybox
                                 data-src="./assets/images/about-img.jpg">
                            <img src="./assets/images/about-img.jpg" alt="">
                        </picture>
                        <picture class="article-review-detail__picture" data-fancybox
                                 data-src="./assets/images/about-img.jpg">
                            <img src="./assets/images/about-img.jpg" alt="">
                        </picture>
                    </div>
                </div>
                <div class="article-review-detail__response mb-30">
                    <div class="article-review-detail__body">
                        <div class="article-review-detail__info">
                            <div class="article-review-detail__info-user">
                                <svg class="article-review-detail__info-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-user"></use>
                                </svg>
                                <div class="">
                                    <time datetime="2021-10-14">14.10.21</time>
                                    <div class="article-review-detail__user-name">Александр Пирожков</div>
                                </div>
                            </div>
                            <div class="review-range">
                                <svg class="review-range__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                                </svg>
                                <svg class="review-range__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                                </svg>
                                <svg class="review-range__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                                </svg>
                                <svg class="review-range__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                                </svg>
                                <svg class="review-range__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="editor editor--14 mb-35">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus. Pretium.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                Pretium.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                                Pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non
                                lacus. Pretium.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non
                                lacus. Pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu
                                non lacus. Pretium.</p>
                        </div>
                    </div>
                    <div class="article-review-detail__body--response">
                        <div class="editor editor--14">
                            <p>Александр, благодарим за отзыв!</p>
                            <p>Рады, что Вам комфортно в Вашем новом доме!</p>
                        </div>
                    </div>
                </div>
                <div class="article-review-detail__body">
                    <div class="article-review-detail__info">
                        <div class="article-review-detail__info-user">
                            <svg class="article-review-detail__info-icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-user"></use>
                            </svg>
                            <div class="">
                                <time datetime="2021-10-14">14.10.21</time>
                                <div class="article-review-detail__user-name">Александр Пирожков</div>
                            </div>
                        </div>
                        <div class="review-range">
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                            <svg class="review-range__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="editor editor--14 mb-35">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus. Pretium.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum eu non lacus.
                            Pretium.</p>
                    </div>
                </div>
                <%= htmlWebpackPlugin.options.paginationPage %>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>