<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main bg-page">
    <section class="section pt-30">
        <div class="container">
            <div class="mb-50">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <a class="breadcrumbs__link" href="about.html">О заводе</a>
                    <svg class="breadcrumbs__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span>Вакансии</span>
                </div>
            </div>
            <div class="columns mb-100">
                <div class="columns__col columns__col--6">
                    <h1 class="title-page">Слесарь сборщик МК</h1>
                    <div class="vacancy-full">
                        <address class="vacancy-full__address mb-45">
                            <span>Адрес:</span>
                            <span>238345 | Россия, Калининградская область, ул...</span>
                        </address>
                        <div class="vacancy-full__timetable">
                            <span>График работы:</span>
                            <span>Сменный, 2/2</span>
                        </div>
                    </div>
                </div>
                <div class="columns__col columns__col--6 right-self">
                    <div class="vacancy-full__pay">от 50 000 ₽</div>
                    <button class="button button--orange">Откликнуться</button>
                </div>
            </div>
        </div>
        <div class="bg-gray-fullscreen mb-60">
            <div class="container pb-50 pt-50">
                <h2 class="subtitle-page mb-50">Описание вакансии:</h2>
                <div class="columns mb-30 border-bottom pb-30">
                    <div class="columns__col columns__col--3">
                        <div class="vacancy-full__chapter">Обязанности:</div>
                    </div>
                    <div class="columns__col columns__col--9">
                        <ul class="vacancy-full__list">
                            <li class="vacancy-full__item">Обслуживание покупателей на кассе (наличный и безналичный
                                расчет)
                            </li>
                            <li class="vacancy-full__item">Выкладка товара в зале</li>
                            <li class="vacancy-full__item">Отслеживание сроков годности товара</li>
                            <li class="vacancy-full__item">Проверка наличия ценников</li>
                            <li class="vacancy-full__item">Консультация покупателей в зале</li>
                        </ul>
                    </div>
                </div>
                <div class="columns mb-30 border-bottom pb-30">
                    <div class="columns__col columns__col--3">
                        <div class="vacancy-full__chapter">Требования:</div>
                    </div>
                    <div class="columns__col columns__col--9">
                        <ul class="vacancy-full__list">
                            <li class="vacancy-full__item">Обслуживание покупателей на кассе (наличный и безналичный
                                расчет)
                            </li>
                            <li class="vacancy-full__item">Выкладка товара в зале</li>
                            <li class="vacancy-full__item">Отслеживание сроков годности товара</li>
                            <li class="vacancy-full__item">Проверка наличия ценников</li>
                            <li class="vacancy-full__item">Консультация покупателей в зале</li>
                        </ul>
                    </div>
                </div>
                <div class="columns mb-30">
                    <div class="columns__col columns__col--3">
                        <div class="vacancy-full__chapter">Условия:</div>
                    </div>
                    <div class="columns__col columns__col--9">
                        <ul class="vacancy-full__list">
                            <li class="vacancy-full__item">Обслуживание покупателей на кассе (наличный и безналичный
                                расчет)
                            </li>
                            <li class="vacancy-full__item">Выкладка товара в зале</li>
                            <li class="vacancy-full__item">Отслеживание сроков годности товара</li>
                            <li class="vacancy-full__item">Проверка наличия ценников</li>
                            <li class="vacancy-full__item">Консультация покупателей в зале</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <nav class="vacancy-full__nav mb-100">
                <button class="button button--outline">
                    <svg class="button__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span class="button__text">К списку вакансий</span>
                </button>
                <a class="button button--orange" href="vacancy.html">
                    <span class="button__text">Отправить резюме</span>
                </a>
            </nav>
        </div>

    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>