<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="modals" hidden>
    <%= htmlWebpackPlugin.options.success %>
    <%= htmlWebpackPlugin.options.calculation %>
    <%= htmlWebpackPlugin.options.callback %>
    <%= htmlWebpackPlugin.options.feedback %>
    <%= htmlWebpackPlugin.options.order %>
    <%= htmlWebpackPlugin.options.vacancyReply %>
</div>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--accent-line pt-30 pb-100 pbm-20">
        <div class="container relative z-index-1">
            <div class="mb-50 revert hidden-980">
                <div class="breadcrumbs">
                    <a class="breadcrumbs__link" href="./">Главная</a>
                    <svg class="breadcrumbs__icon revert">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <a class="breadcrumbs__link" href="about.html">О заводе</a>
                    <svg class="breadcrumbs__icon revert">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-lg-arrow"></use>
                    </svg>
                    <span class="revert">Видео</span>
                </div>
            </div>
            <h1 class="title-page revert revert--mobile mb-50 mbm-20">Видео</h1>
            <div class="columns mb-60 mbm-0">
                <div class="columns__col columns__col--6">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--lg"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--6">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--lg"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--md"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--md"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--md"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--md"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--md"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
                <div class="columns__col columns__col--4">
                    <a class="article-video" data-fancybox data-type="iframe"
                       href="https://www.youtube.com/watch?v=Na6imlcnBmc">
                        <button class="article-video__btn">
                            <svg class="article-video__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-video-play"></use>
                            </svg>
                        </button>
                        <video class="article-video__video article-video__video--md"
                               poster="./assets/images/poster-video.jpg">
                            <source src="#" type='video/ogg; codecs="theora, vorbis"'>
                            <source src="#" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="#" type='video/webm; codecs="vp8, vorbis"'>
                        </video>
                        <div class="article-video__info">
                            <h2 class="article-video__title">Съемки телепередачи “Все включено”</h2>
                            <time class="article-video__date" datetime="2022-02-14">14.02.22 г.</time>
                        </div>
                    </a>
                </div>
            </div>
            <button class="button button--orange centered show-mob-980">
                <span class="button__text">Загрузить еще </span>
                <svg class="button__icon">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-reload"></use>
                </svg>
            </button>
            <%= htmlWebpackPlugin.options.paginationPage %>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>