.title-page {
  font-size: rem(36);
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  margin-bottom: rem(50);
}

.subtitle-page {
  font-size: rem(24);
  line-height: 1.5;
  color: #0B1321;
  font-weight: 600;
}