.article {
  background-color: $light;
  border-radius: rem(5);

  &__icon {
    width: rem(102);
    max-height: rem(95);
    color: $blue;
    @include r(1200){
      max-width: rem(50);
      max-height: rem(50);
    }
  }

  &--catalog {
    display: grid;
    grid-template-columns: 11% 83%;
    gap: rem(55);
    padding: rem(40) rem(50);
    border-radius: 5px;
    background-color: $light;

    margin-bottom: rem(30);

    @include r(1200){
      gap: rem(25);
      align-items: center;
      padding: rem(20) rem(15) rem(15);
    }
  }

  &__info {
    @include r(1200){
      grid-column: span 2;
    }

  }

  &:first-child {
    box-shadow: 5px 10px 40px rgba(43, 70, 82, 0.15);
  }
}