.article-post {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: rem(10);
  align-items: flex-start;
  overflow: hidden;

  @include r(578) {
    max-height: rem(195);
  }

  &--large {
    height: rem(455);

    @include r(578) {
      max-height: rem(195);
    }
  }

  &__picture {
    border-radius: rem(10);
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    min-height: rem(280);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__picture--large {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content--large,
  &__content--mobile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    justify-content: flex-end;
    color: #FFFFFF;
    padding: rem(45);
    background: linear-gradient(180deg, rgba(38, 39, 61, 0), rgba(38, 39, 61, .6));
  }

  &__content--mobile {
    padding: rem(18);
  }

  &__content--large {
    @include r(1200) {
      padding: rem(18);
    }
  }

  &__content--regular {
    flex-grow: 1;
    padding-top: rem(15);
  }

  &__date {
    font-size: rem(14);
    line-height: 1.7;
    font-weight: 500;
    color: #FFFFFF;
    background-color: $orange;
    padding: rem(3) rem(9);
    margin-bottom: rem(15);

    @include r(1200) {
      font-size: rem(12);
      padding: rem(3) rem(20);
      margin-bottom: rem(9);
    }
  }

  &__title {
    font-size: rem(20);
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: rem(10);
    text-overflow: ellipsis;

    @include r(1200) {
      font-size: rem(14);
      color: $light;
    }
  }

  &__text {
    overflow: hidden;

    @include r(768) {
      display: none;
      visibility: hidden;
    }
  }

  &__link {
    color: $blue;
    text-decoration: underline;

    margin: rem(20) 0 0;
  }
}