.menu-header{

  &__list {
    display: flex;
    gap: rem(32);
    font-size: rem(18);
    line-height: rem(22);
    white-space: nowrap;
  }

  &__list > li {
    position: relative;
    padding: rem(15) 0;

    &:hover {
      color: $blue;
    }
  }

  &__dropdown {
    display: none;

    flex-direction: column;
    gap: rem(20);
    padding: rem(35) rem(260) rem(35) rem(40);
    position: absolute;
    top: rem(40);
    left: rem(-20);
    width: 100%;
    z-index: 10;
    color: $dark;

    background-color: $light;
  }

  &__dropdown-link >a:hover {
      color: $blue;

  }
}

.menu-header__link:hover > ul {
  display: flex;
}