.tabs {

  &--mobile {
    display: none;
    @include r(1200) {
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: rem(10);
    margin-top: rem(20);
    margin-bottom: rem(10);
  }

  &__body {
    background-color: $light;
    padding: rem(50);
    border-radius: rem(5);
    margin-bottom: rem(100);
  }

  &__btn {
    padding: rem(18) rem(37);
    background-color: $light;
    position: relative;

    text-transform: uppercase;
    font-size: rem(14);
    color: #000000;

    &:hover {
      background-color: rgba(49, 110, 232, 0.05);
      border-radius: rem(5);
    }

    svg {
      width: rem(30);
      height: rem(16);
      rotate: 90deg;
    }
  }


  &--mobile__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    padding: rem(13) rem(15);
  }

  &__btn.active {
    border-top: 1px solid $blue;

    &::before {
      content: "";
      position: absolute;
      top: 98%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $light;
    }
  }

  &--mobile__btn.active {
    border-top: none;
    border-bottom: 1px solid #DADFEC;

    &::before {
      display: none;
      visibility: hidden;
    }
  }

  &__article {
    display: none;
  }

  &__article.active {
    display: flex;
  }

  &--mobile__article {
    scale: 0;
    display: none;
    visibility: hidden;
    transition: .3s ease-in-out;
  }

  &--mobile__article.active {
    display: flex;
    visibility: visible;
    background-color: #FFFFFF;
    border-radius: rem(5);
    padding: rem(15);
    margin-top: rem(10);
    scale: 1;
  }

  &__article-specs {
    width: 100%;
  }

  &__article-option {
    display: flex;
    justify-content: space-between;
    font-size: rem(14);
    gap: rem(40);
    margin-bottom: rem(10);

    @include r(1200) {
      flex-direction: column;
      gap: rem(5);
      margin-bottom: rem(15);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__article-type {
    width: 45%;
    color: $gray;
    @include r(1200) {
      width: 100%;
    }
  }

  &__article-set {
    width: 55%;
    @include r(1200) {
      width: 100%;
    }
  }
}