.article-review {
  cursor: pointer;
  border: 1px solid #EEF2F2;
  border-radius: rem(10);
  padding: rem(30) rem(45) rem(40) rem(30);

  display: flex;
  flex-direction: column;
  gap: rem(20);

  @include r(768) {
    padding: rem(18) rem(12);
    gap: rem(10);
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 5px 5px 70px rgba(43, 70, 82, 0.15);
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: rem(45);
      height: rem(41);
      border-bottom-left-radius: rem(200);
      border-bottom-right-radius: rem(10);
      border-top-left-radius: rem(10);
      border-top-right-radius: rem(10);
      background-color: $blue;
      background-image: url("../assets/images/icon-dialog.svg");
      background-repeat: no-repeat;
      background-position: top 10px left 17px;
      background-size: rem(16) rem(16);
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: rem(20);

    @include r(1200) {
      gap: rem(15);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__picture {
    width: rem(60);
    height: rem(60);
    border-radius: rem(60);
    overflow: hidden;

    @include r(580) {
      width: rem(30);
      height: rem(30);
      border-radius: rem(30);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__link {
    display: block;
    color: $blue;
    text-decoration: underline;
  }

  &__date {
    font-size: rem(14);
    line-height: 1.2;
    color: $gray;
    margin-bottom: rem(20);
    @include r(1200) {
      margin-bottom: rem(0);
      font-size: rem(12);
    }
  }

  &__name {
    font-size: rem(20);
    line-height: 1.2;
    font-weight: 600;
    color: $darkBlue;
    margin-bottom: rem(13);

    @include r(1200) {
      font-size: rem(16);
      span {
        display: block;
      }
    }
  }

  &__range {
    margin-bottom: rem(14);
  }

  &__text {
    margin-bottom: rem(30);
  }
}