.table {

&__title {
  font-weight: 600;
  font-size: rem(24);
  line-height: 1.25;

  @include r(1200) {
    font-size: rem(20);
  }
}
  &__grid--mobile {
    display: none;
    @include r(1200) {
      display: table;
    }
  }

  &__grid--desktop {
    display: table;
  }

  &__grid {
    width: 100%;
    margin-bottom: rem(50);

    color: #000000;
    box-shadow: 5px 10px 40px rgba(43, 70, 82, 0.15);
    border-radius: rem(10);
    overflow: hidden;

    thead,
    tbody {
      display: contents;
    }

    th {
      font-weight: 600;
      font-size: rem(16);
      line-height: 1.2;
      padding: rem(20) rem(20) rem(20) 5%;

      @include rmin(1201) {
        border: 1px solid #E6E6E6;
      }

      @include r(768) {
        padding: rem(20) rem(20) rem(20) 5%;
      }

      span {
        display: block;
      }
    }

    td {
      border: 1px solid #E6E6E6;
      @include r(1200) {
        width: 50%;
      }
    }

    tr {
      align-items: center;
      border: 1px solid #E6E6E6;
      align-content: center;

      @include r(768) {
        padding: rem(20) rem(20) rem(20) 5%;
      }
    }

    tr td,
    tr th:first-child {
      padding: rem(30) rem(40) rem(30) rem(70);

      @include r(768) {
        padding: rem(20) rem(20) rem(20) 5%;
      }
    }
  }

  &__info {
    margin-bottom: rem(50);
  }
}