.article-social {
  display: flex;
  gap: rem(16);
  cursor: pointer;
  width: rem(360);
  height: rem(163);
  transition: all .3s ease-in-out;

  padding: rem(40) rem(30);

  &__icon {
    width: rem(30);
    height: rem(30);
  }

  &__info {
    display: flex;
    flex-direction: column;

  }

  &__social-name {
    margin-bottom: rem(5);
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 700;
    color: $darkBlue;
    text-transform: uppercase;
  }

  &__count {
    margin-bottom: rem(14);
    font-size: rem(14);
    line-height: rem(20);
    color: $gray;
  }

  &__link {
    font-size: rem(14);
    line-height: rem(20);
    color: $darkBlue;
    text-decoration: none;
  }
}

.article-social:hover {

  .article-social__social-name {
    color: $light;
  }

  .article-social__count {
    color: $light;
  }

  .article-social__link {
    color: $light;
    font-weight: 700;
  }
}

.article-social--red {
  background-image: url("../assets/images/youtube-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: all .5s ease-in-out;
}

.article-social--blue {
  background-image: url("../assets/images/vk-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: all .5s ease-in-out;
}

.article-social--blue:hover,
.article-social--red:hover {
  background-size: 100%;
}