.article-shop {
  display: flex;
  flex-direction: column;
  gap: rem(25);
  background-color: $light;
  border-radius: 5px;
  padding: rem(30);
  box-shadow: 5px 10px 40px rgba(43, 70, 82, 0.15);
  transition: all .3s ease-in-out;
&:hover,
&:active {
  .article-shop__timetable,
  .article-shop__tel  {
    display: flex;
    visibility: visible;
  }
}

  &__title {
    font-size: rem(20);
    line-height: 1.4;
    font-weight: 600;

    @include r(1200) {
      font-size: rem(16);
    }
  }

  &__tel {
    display: block;
    font-size: rem(24);
    line-height: 1.2;
    font-weight: 600;
    color: $blue;
    transition: all .3s ease-in-out;

    @include r(1200) {
      font-size: rem(16);
    }

    @include r(768) {
      display: none;
      visibility: hidden;
    }
  }

  &__timetable {
    display: flex;
    flex-direction: column;
    gap: rem(7);
    transition: all .3s ease-in-out;

    @include r(1200) {
      font-size: rem(14);
    }

    @include r(768) {
      display: none;
      visibility: hidden;
    }
  }

  &__icon {
    color: $blue;
    width: rem(14.25);
    height: rem(14.25);
  }
}