.article-shop{
  display: flex;
  flex-direction: column;
  gap: rem(25);
  background-color: $light;
  border-radius: 5px;
  padding: rem(30);
  box-shadow: 5px 10px 40px rgba(43, 70, 82, 0.15);
  transform: translateY(rem(-150));

  &__title {
    font-size: rem(20);
    line-height: 1.4;
    font-weight: 600;
  }

  &__tel {
    display: block;
    font-size: rem(24);
    line-height: 1.2;
    font-weight: 600;
    color: $blue;
  }

  &__timetable {
    display: flex;
    flex-direction: column;
    gap: rem(7);
  }

  &__icon {
    color: $blue;
    width: rem(14.25);
    height: rem(14.25);
  }
}