.button {
    display: block;
    padding: rem(14) rem(25);
    border-radius: rem(5);
    cursor: pointer;
    text-transform: uppercase;
    font-size: rem(14);
    line-height: 1.2;
    font-weight: 600;
    color: $light;
    @include r(1200) {
       
    }
    &--disabled {
        background-color: $gray;
    }
    &__text {
        color: $light;
        white-space: nowrap;
    }

    &__icon {
        position: relative;
        top: rem(3);
        margin-right: rem(10);
        width: rem(19);
        height: rem(19);
    }
}

.button--blue {
    background-color: $blue;
    padding: rem(14) rem(32);
}

.button--orange {
    background-color: $orange;
    padding: rem(14) rem(28);
}

.button--gradient {
    background: linear-gradient(90deg, rgba(49,110,232,1) 9%, rgba(54,145,251,1) 108%);
}

.button--transparent {
background-color: transparent;
    border: rem(1) solid $light;
    }
