.modal-order {

 &__info {
  display: flex;
   flex-direction: column;
   gap: rem(25);
  }

  &__info-price {
    display: flex;
    gap: rem(30);
  }

&__item {
  display: flex;
  flex-direction: column;
  gap: rem(15);
}
  &__item-descr {
    display: flex;
    align-items: center;
    gap: rem(50);
  }

  &__item-picture {
    max-width: rem(140);
    max-height: rem(140);
    border: 1px solid #D9E1F3;
    border-radius: 5px;
    overflow: hidden;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      object-position: center;
    }
    @include r(1200) {
      max-width: rem(140);
      max-height: rem(100);
    }
  }

  &__item-price {
    display: flex;
    gap: rem(15);
    justify-content: space-between;
    align-items: center;
  }

  &__comment {
    color: #000;
    textarea {
      width: 100%;
      border: 1px solid #D9E1F3;
      border-radius: 5px;
      padding: rem(18) rem(20);
      &::placeholder {
        color: #B1AFAF;
      }
    }
  }
}