.footer {
	background-color: $darkBlue;
	padding: rem(60) 0;

	font-size: rem(14);
	line-height: rem(17);

	@include r(1200){
		padding: rem(30) 0 rem(50);
	}

	a:hover {
		opacity: .7;
	}

	&__privacy {
		margin-top: rem(35);

		@include r(1200) {
			margin-top: rem(20);
		}
	}


	&__sign {
		margin-top: rem(25);

		@include r(1200) {
			margin-top: 0;
		}
	}
}