.modal {
  display: none;
  border-radius: rem(10);
  background-color: $light;
  padding: rem(50);
  max-width: rem(800);
  width: 95%;
  height: fit-content;
  &--sm {
    max-width: rem(570);
  }

  &--lg {
    max-width: rem(800);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon-round {
    width: rem(70);
    height: rem(70);
    border-radius: rem(70);
    background-color: #F8F8F8;
    position: relative;
    margin-bottom: rem(20);
  }

  &__icon {
    max-width: 70%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: rem(36);
    color: #000000;
    font-weight: 700;

    @include r(1200) {
      font-size: rem(20);
    }
  }

  &__nav {
    display: flex;
    gap: rem(60);
  }

  &__attach {
    display: flex;
    gap: rem(15);
    align-items: center;
    cursor: pointer;
  }
}

