.menu-mobile {
  padding: rem(30) rem(15);
  display: none;

  &.active {
    display: block;
  }

  &__list {
    margin-bottom: rem(30);
  }

  &__sublist {
    padding: 0 0 0 rem(20);
    border-radius: 10px;
    background-color: #F3F6FD;
  }

  &__item,
  &__subitem {
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    padding: rem(15) 0;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;

    font-size: rem(16);
    color: #000000;
  }

  &__link:active,
  &__link:hover {
    color: $blue;
    font-weight: 500;
  }

  &__icon {
    max-width: rem(9);
    height: rem(14);
    position: relative;
  }
}