.catalog-item {

  &__picture {
    background-color: $light;
    border-radius: 5px;
    height: rem(350);
    overflow: hidden;

    @include r(768) {
      height: auto;
    }

    img {
      max-height: inherit;
      object-position: center;
      object-fit: contain;
    }
  }

  &__article {
    display: flex;
    align-items: center;
    height: 100%;
    gap: rem(85);

    background-color: $light;
    border-radius: 5px;
    padding: rem(50) rem(80) rem(70) rem(40);
    overflow: hidden;

    @include  r(1200) {
      flex-direction: column;
      padding: rem(20) rem(15);
      gap: rem(50);
    }
  }

  &__specs {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: rem(1);
      height: rem(400);
      top: rem(-61);
      right: rem(-30);
      background-color: #DADFEC;
    }

      @include r(1200) {
        &::after {
          display: none;
          visibility: hidden;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: rem(1);
          bottom: rem(-20);
          right: rem(-0);
          background-color: #DADFEC;
      }
    }
  }

  &__code {
    display: block;
    margin-bottom: rem(20);
    font-size: rem(14);
    color: #000000;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin-bottom: rem(28);
  }

  &__option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: rem(20);

    font-size: rem(14);
    font-weight: 500;
  }

  &__option-type {
    color: $gray;
    width: 45%;
  }

  &__set {
    color: #000000;
    text-align: start;
    width: 50%;
  }

  &__link {
    display: block;
    color: $blue;
    font-size: rem(14);
    font-weight: 500;
  }

  &__order {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: rem(270);

    @include r(550) {
      max-width: 100%;
    }
  }

  &__price {
    font-weight: 600;
    font-size: rem(32);
    color: #000000;
    margin-bottom: rem(14);

    @include r(1200) {
      font-size: rem(24);
    }
  }

  &__btn-icon {
    width: rem(18);
    height: rem(18);
  }
}